{% extends "base.html" %}
{% block title %}ToDo{% endblock %}

{% block content %}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
        {{ note.id }} | {{ note.data }}
    {% if note.complete == False %}
    <br>
    <span style="color:red;font-weight:bolder">Pending</span>
    <br>
    <button type='button' class='alert' onClick="changeNote({{ note.id }})">Update</button>

    {% else %}
    <br>
    <span style="color: lightgreen;font-weight:bolder">Done!</span>
    <br>
    <button type='button' class='alert' onClick="changeNote({{ note.id }})">Update</button>
    
    {% endif %}
        <button type='button' class='close' onClick="deleteNote({{ note.id }})">
            <span aria-hidden='true'>&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br/>
    <div align="center">
        <button class="btn btn-primary" type="submit">Add</button>


    </div>
</form>
{% endblock %}
