{% extends "base.html" %}
{% block title %}ToDo LogIn{% endblock %}

{% block content %}
<form method="post">
    <h3 align="center">Login</h3>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter Email Address"/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Password"/>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Log In</button>
</form>
{% endblock %}